<h1>New Comment</h1>

<form action="<%= comments_url %>" method = "POST">
  <input type="hidden" name="authenticity_token" value ="<%= form_authenticity_token%>">
  <input type="hidden" name ="comment[post_id]" value="<%=@post_id%>"> <br>
  <label for = "body"> Body </label>
  <input type="textarea" name ="comment[body]" id="body"> <br>
  <button> Post Comment</button>
</form>

